<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bubbles Unlmtd</title>
  <link rel="stylesheet" href="../../public/styles.css">
</head>
<body>

  <div>
    <div>
    <form action="/signin" method="post">
        <input type="email" name="" id="" placeholder="email">
        <input type="password" name="" id="" placeholder="password">
        <input type="submit" name="" id="" value="submit">
    </form>
  </div>

</body>
</html>